/* fullcontact_autofill - on the edit pages */

.fullcontact_info {
    background-image:url('chrome-extension://__MSG_@@extension_id__/images/fullcontact_32.png');
    background-size:16px 16px;
    width: 16px;
    height:16px;
}

.fullcontact-profile-container {
   background-image:url('chrome-extension://__MSG_@@extension_id__/images/fullcontact_32.png');
   background-repeat:no-repeat;
   padding: 5px 0 0 36px;
   min-height: 32px;
}

.fullcontact-profile-container h1 {
   font-size: 12pt;
}

.fullcontact-loading {
   display: inline-block;
   background-image: url('chrome-extension://__MSG_@@extension_id__/images/loading.gif');
   height: 16px;
   width: 16px;
}

#fullcontact_autofill { 
    display: inline;
    font-size: 13px; font-family: 'Tahoma', sans-serif; 
    font-weight: 500;
    padding: 2px 4px;
    margin-left: 12px; 
    border-radius: 3px; 
    text-decoration: none; 
    color: #333;
}

#fullcontact_autofill img {
    margin-right: 4px;
    position: relative;
    top: 6px;
    height: 20px;
}

#fullcontact_autofill img#fullcontact_loading {
    margin-right: 0px;
    margin-left: 4px;
    position: relative;
    top: 1px;
    height: 10px;
}

/* highlight fields which are autofilled */
.autofilled {
    border-right: 4px solid #fe8 !important;
}

#fullcontact_error {
    float: right;
	font-family: monospace;
    font-size: 11px;
    line-height: 13px;
    font-weight: 500; 
    border: 1px solid #eee;
    border-radius: 3px;
	padding: 4px;
	margin-top: 4px;
	background-color: #ff9;
	font-weight: 300;
	display: none;
}

/* fullcontact_box - on the view pages */
#fullcontact_box { margin: 2px 8px 4px 8px; padding: 1px; }

/* tweaks for FullContact powered by logo for space optimization */
#contactInfo table:nth-child(2) { margin-top: -42px; }
#contactInfo table:nth-child(2) span { color: #666; }
#contactInfo table:nth-child(2) img { height: 26px; }

/* font size adjustments for consistency - as html output is very big and "ugly" */
#contactInfo > table { font-size: 108% !important; padding: 0 !important; }
#contactInfo > table td { color: #444 !important;  }
#contactInfo #name { font-size: 122% !important; color: #222 !important; }
#contactInfo #title { font-size: 116% !important; color: #333 !important; }
#contactInfo #age, #contactInfo #location  { font-style: italic !important; }
#contactInfo #socialProfiles { padding: 4px 0 2px 0 !important; }
#contactInfo #position-company { font-style: italic !important; }
